* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background: url(imagenes/pai.jpg)

}
  
  .titp {
    margin-top: 70px;
  }
.tabla{
    
    width: 650px;
    height: 120px;
    background: #000;
    margin: auto;
    margin-top: 50px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
}

.tabla h3{
    font-size: 20px;
    margin-bottom: 20px;
}

.btsalir {
  width: 5%;
  background: #017bab;
  padding: 10px;
  color: rgb(118, 215, 255);
  margin: 20px 40px;
  font-size: 14px;
}
